{% extends "base.html" %}

{% block title %}
    Buyurtma
{% endblock %}

{% block content %}
    <div class="checkout-grid">
        <section class="form-card">
            <h1>Buyurtmani rasmiylashtirish</h1>

            <form method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit">
                    Buyurtmani tasdiqlash
                </button>
            </form>
        </section>

        <section class="summary">
            <h2>Buyurtma tarkibi</h2>

            {% for item in items %}
                <p>
                    {{ item.product.name }}
                    × {{ item.quantity }}
                    — {{ item.subtotal }} so‘m
                </p>
            {% endfor %}

            <strong>Jami: {{ total }} so‘m</strong>
        </section>
    </div>
{% endblock %}